/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* var */
:root{
    --main-color: #1c1e29;
    --dark-light: #33354b;
    --dark: #0c1023;
    --another-color: #ff4473;
    --white: #fff;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
    --text-home: 'Kaushan Script', cursive;
    scroll-behavior: smooth;
}

/* global settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-top-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--white);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    font-weight: 700;
    color: var(--white);
}
h2{
    font-weight: 600;
    color: var(--white);
}
h3,h4,h5,h6{
    font-weight: 500;
    color: var(--white);
}
p{
    font-size: 16px;
}
small{
    color: grey;
    font-style: italic;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.min-vh-100{
    min-height: 100vh;
}
.sec-padding{
    padding: 80px 0;
}

/* title */
.section-title{
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 35px;
}
.section-title h2::before{
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--another-color);
    font-family: var(--text-home);
    font-weight: 400;
}
.section-isi{
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
}
.section-isi h3{
    margin-bottom: 30px;
    font-size: 20px;
}
.section-isi p{
    font-size: 15px;
    padding-bottom: 10px;
    text-align: justify;
    padding-top: 5px;
}
.section-isi img{
    margin-bottom: 30px;
}

/* header */
.header{
    padding:0px 12px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}
.header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    box-shadow: var(--shadow);
    z-index: -1;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
}
.header.sticky::before{
    transform: translateY(0%);
}
.header .logo img{
   height: 70px;
}
.header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header .nav-toggler{
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav-toggler.active{
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
    transform: translateX(-200px);
}
.header .nav-toggler.active span{
    background-color: transparent;
    transition: background-color 0.5s ease;
}
.header .nav-toggler span{
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
}
.header .nav-toggler.active span::before{
    transform: rotate(45deg);
    transition: transform 0.5s ease;
}
.header .nav-toggler span::before{
    transform: translateY(-8px);
}
.header .nav-toggler span::after{
    transform: translateY(8px);
}
.header .nav-toggler.active span::after{
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}
.header .nav{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: var(--main-color);
    box-shadow: var(--shadow);
    overflow-y: auto;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
}
.header .nav.open{
    transform: translateX(0%);
}
.header .nav ul li a{
    display: block;
    font-size: 25px;
    color: var(--white);
    padding: 10px 30px;
    transition: color 0.3s ease;
}
.header .nav ul li a:hover{
    color: var(--another-color);
}

/* write blog */
.team-section{
    background-color: var(--dark);
    padding-bottom: 125px;
}

/* footer */
.footer{
    padding: 80px 0 0;
    background-image:url(../../../assets/img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    z-index: 1;
}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
}
.footer-item{
    width: calc(100% / 3);
    padding: 0 15px;
    text-align: center;
}
.footer-item h3{
    font-size: 22px;
    margin: 0 0 15px;
}
.footer-item p{
    line-height: 30px;
}
.footer-item .social-links{
    margin-top: 15px;
}
.footer-item .social-links a{
    display: inline-flex;
    height: 40px;
    width: 40px;
    color: var(--white);
    font-size: 22px;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}
.footer-item .social-links a:hover{
    color: var(--another-color);
}
.footer .copyright{
    margin: 80px 0 0;
    width: 100%;
    text-align: center;
    padding: 25px 15px;
    font-size: 14px;
    border-top: 1px solid var(--white);
}
@media(max-width:767px){
    .home-text h1{
        font-size: 50px;
        line-height: 65px;
    }
    .blog-item,
    .about-text,
    .about-img{
        width:100%;
    }
    .menu-item:nth-last-of-type(2):after{
        border-bottom: 2px dashed var(--main-color);
    }
    .about-img{
        margin-top: 40px;
    }
    .about-text h3{
        font-size: 24px;
    }
    .footer-item{
        width: 100%;
    }
    .footer-item:not(:last-child){
        margin-bottom: 30px;
    }
    .testi-item{
        width: calc(100% - 30px);
    }
}
@media(max-width:575px){
    .team-item{
        width: 100%;
    }
    .section-isi{
        
        text-align: justify;
    }
}